GO_API_BASE_URL=http://127.0.0.1:8088
GO_IDENTITY_URL=http://127.0.0.1:18081
NEXT_PUBLIC_PROVIDER_LOGIN_URL=http://127.0.0.1:5173/register?mode=login
NEXT_PUBLIC_PROVIDER_CONSOLE_URL=http://127.0.0.1:5175
TAKEIN_COOKIE_SECURE=false
